<% provide(:title, "About") %>

<div class="page-header debug">
  <h1 class="about-heading"><small><i>Read ahead and learn</i></small></h1>
  <h1 class="about-heading">WHO I AM</h1>
</div>

<div class="row debug">
  <div class="col-md-6 debug">
    <h1>A few fun facts<h1>
      <ul>
        <li>I collect (possibly hoard) and sell U.S.-made antique art glass</li>
        <li>I performed in the only collegiate circus, where I did Spanish web and Flying trapeze</li>
        <li>I have a strange love for office supplies... and organizing everything</li>
        <li>I used to want to be a whale trainer...my AIM name was ScubaBarbie</li>
        <li>I live for my 2 adorable pomeranians: Poppy and Chloe</l1>
        <li>I used to work out 4 hours a night as a competitive gymnast... and I had a 6-pack</li>
        <li>I think truffle oil is very interesting</li>

  </div>
  <div class="col-md-6 debug">
    <h1>A Summary</h1>
  </div>
</div>




