<% provide(:title, "About") %>

<div class="page-header debug">
  <h1 class="about-heading"><small><i>Read ahead and learn</i></small></h1>
  <h1 class="about-heading">WHO I AM</h1>
</div>

<div class="about debug">
<div class="row debug">
  <div class="col-md-6 debug">
    <h1>A few fun facts<h1>
      <p style="text-align:center;">.....and some bragging</p>
      <hr />
      <ul>
        <li>I went to the same high school as Melinda Gates, and was in the first Class of Technology, where we all got laptops</li>
        <li>I collect (possibly hoard) and sell U.S.-made antique art glass</li>
        <li>I performed in the only collegiate circus, where I did Spanish web and Flying trapeze</li>
        <li>I have a strange love for office supplies... and organizing everything</li>
        <li>I used to want to be a whale trainer...my AIM name was ScubaBarbie</li>
        <li>I live for my 2 adorable pomeranians: Poppy and Chloe</l1>
        <li>I used to work out 4 hours a night as a competitive gymnast... and I had a 6-pack</li>
        <li>I think truffle oil is very interesting</li>
        <li>I have a deep passion for Ben & Jerry's Red Velvet Cake ice cream</li>

  </div>
  <div class="col-md-6 debug">
    <h1>A Summary</h1>
    <p style="text-align: center;">.....why I Decided to go into Web Development</p>
    <hr />
    <p>Inspired by my younger brother, a senior software engineer at Instacart, I left the healthcare industry to pursue software development. Speaking with him, the career seemed to have it all – critical thinking, problem solving, lifelong learning, and more. Seeing his growth, from creating an online tutoring service at age 16 to achieving his dream of working for a promising start-up, I wanted to learn what he knew, how computers work, and how to build things!</p>

    <p>Managing a pain office for the past 5 years, I did everything from counseling patients to transcription to assisting with surgical procedures. With each phone call presenting a problem from a patient, I definitely learned quick problem solving and communication skills. I had to stay organized while coordinating the doctor’s schedule, supply orders, prescription management, ordering various scans, dealing with insurance claims, and more. I am efficient, multi-tasking, and quick to anticipate people’s needs. All of the characteristics I needed for that job not only made me a more well-rounded person, but also left me desiring more of a challenge.</p>
  </div>
</div>
</div>




