<% provide(:title, "Home") %>



<div class="home page-header debug">
  <h1>Marisa E. Ramon</h1>
  <h1 class="home-heading"><small><i>Full stack web developer with an affinity for design.</i><small></h1>
</div>


