<% provide(:title, "Portfolio") %>

<div class="page-header debug">
  <h1 class="port-heading"><small><i>Take a moment to view some</i></small><h1>
  <h1 class="port-heading">PROJECTS</h1>
  <span class="glyphicon glyphicon-chevron-down chevron"</span>
</div>

<div class="portfolio debug">
  <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("estates.png", alt: "estates", :class => "preview") %>
      </div>
    </div>
    <div class="col-md-5 debug">
        <div class="caption">
          <h3>Estates-to-Date</h3>
          <p>Technology Used: </p>
          <p>Ruby, Sinatra, JavaScript, jQuery, AJAX, Google Maps API, Kimono Labs scraper, Zip Code Distance API, HTML5, CSS3</p>
          <p><a href="http://estates-to-date.herokuapp.com" class="btn btn-default" role="button">Visit Site</a></p>
        </div>
      </div>
  </div>

  <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("chariteer.png", alt: "chariteer", :class => "preview") %>
      </div>
    </div>
    <div class="col-md-5 debug">
      <div class="caption">
        <h3>Chariteer</h3>
        <p>Technology Used: </p>
        <p>Ruby, Rails, Angular.js, PostgreSQL, HTML5, CSS3</p>
        <p><a href="#" class="btn btn-default" role="button">Visit Site</a></p>
      </div>
    </div>
  </div>

  <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("backbone.png", alt: "backbone.js", :class => "preview") %>
      </div>
    </div>
      <div class="col-md-5 debug">
        <div class="caption">
          <h3>Marisa's Pieces</h3>
          <p>Technology Used: </p>
          <p>Backbone.js, HTML5, CSS3</p>
          <p><a href="#" class="btn btn-default" role="button">Visit Site</a></p>
        </div>
      </div>
  </div>

  <div class="row debug">
    <div class="col-md-7 debug">
      <div class="thumbnail debug">
        <%= image_tag("connect4.png", alt: "connect4", :class => "preview") %>
      </div>
    </div>
      <div class="col-md-5 debug">
        <div class="caption">
          <h3>Connect Four</h3>
          <p>Technology Used: </p>
          <p>Javascript, HTML5, CSS3</p>
          <p><a href="#" class="btn btn-default" role="button">Visit Site</a></p>
        </div>
      </div>
  </div>

</div>





