<% provide(:title, "Portfolio") %>

<div class="container">
  <div id="portfolio">
    <div class="row debug">
        <h1>Portfolio</h1>
    </div>
    <div class="row debug">
      <div class="col span_6 debug">
        <img src="estates.png" class="estates-img">
        <h3>Estates-to-Date</h3>

          <form action="www.estates-to-date.herokuapp.com" method="get">
            <button>Visit Site</button>
          </form>

        <p>Technology used:</p>
        <p>       </p>
      </div>
      <div class="col span_6 debug">
        <h3>Chariteer</h3>
          <form action="http:://www.google.com">
            <button>Visit Site</button>
          </form>
        <p>Technology used:</p>
        <p>       </p>
      </div>
    </div>
    <div class="row debug">
      <div class="col span_6 debug">
        <h3>Marisa's Pieces</h3>
          <form action="http:://www.google.com">
            <button>Visit Site</button>
          </form>
        <p>Technology used:</p>
        <p>       </p>
      </div>
      <div class="col span_6 debug">
        <h3>Connect Four</h3>
          <form action="http:://www.google.com">
            <button>Visit Site</button>
          </form>
        <p>Technology used:</p>
        <p>       </p>
      </div>
    </div>
  </div>
</div>


