<% provide(:title, "Resume") %>



<div class="page-header debug">

  <h1 class="resume-heading"><small><i>What I've done and</i></small></h1>
  <h1 class="resume-heading">MY SKILL SETS</h1>
  <br>
  <a href="/marisa_ramon_resume_0919.docx" download="Marisa Ramon's Resume" class="btn btn-default resume-heading" role="button">View Resume</a>
</div>




