<% provide(:title, "Resume") %>


<%= image_tag("screen.jpeg", alt: "screen", :class => "blah") %>


<div class="page-header debug">
  <h1><small>What I've done and</small></h1>
  <h1>my skill sets</h1>
</div>

<div class="resume debug">
  <%= image_tag()

</div>