<% provide(:title, "Resume") %>

<div class="jumbotron">
 <%= image_tag("screen.jpeg", alt: "screen", :class => "screen") %>
</div>

<div class="page-header debug">

  <h1 class="resume-heading"><small><i>What I've done and</i></small></h1>
  <h1 class="resume-heading">MY SKILL SETS</h1>
  <a href="/marisa_ramon_resume.pdf" download="Marisa Ramon's Resume" class="btn btn-default resume-heading" role="button">Download Resume</a>
</div>




