@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

/* Remove default margin and padding from every element */
* {
  margin: 0;
  padding: 0;
}

/* Includes padding, margins with width and height of elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.debug {
  border: 1px solid red;
}

body {
  background-color: #2c3333;
  margin: 0;
  padding: 0;
}

body.beach {
  background-image: url(beach.JPG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body.dallas-image {
  background-image: url(dallas-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

body.screen-image {
  background-image: url(screen-3.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

body.projects-image {
  background-image: url(projects-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;

}

nav {
  /*vertical-align: top;*/
  display: inline-block;
  position: relative;
  width: 100%;
  top: 30px;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

nav li {
  /*display: inline;*/
  float: right;
  z-index: 10;
}

nav ul li a {
    display: block;
    /*word-spacing: 200em;*/
    font-family: 'Quicksand', Arial, sans-serif;
    color: white !important;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
}

nav ul li a:visited {

}

nav a:hover, a:focus, a:active {
    font-weight: bold;
    text-shadow: 2px 2px 2px aqua;
    /*#54a6aa cadet blue- same as logo*/
    text-decoration: none;
    z-index: 10;
}

.logo {
  height: 150px;
  width: 150px;
  position: relative;
  top: 20px;
  left: 200px;
  z-index: 10;
}



/*MAIN YIELD CONTAINER:*/

.container {
  margin-top: 60px;
  text-align: center;
  position: relative;
}



/*ALL OTHER PAGES:*/

h1 {
  color: white;
}

li {
  font-size: 18px;
  text-align: left;
}

/*.page-header {
  position: absolute;
}*/

.page-header h1 {
  color: white;
  font-size: 70px;
  font-family: 'Quicksand', Arial, sans-serif;
  line-height: 1em;
}

.page-header h1 small {
  color: white;
  font-size: 24px;
  font-family: "adobe-garamond-pro";
  /*line-height: 0.5em;*/
 /* font-family: 'Allura', cursive;*/
}

.glyphicon {
  color: white;
}

/*HOME PAGE */
.home {
  position: relative;
  top: 200px;
  text-align: center;
}

/*.home-heading h1 {
  line-height: 0.2em;
}*/

/*.home h3 {
  font-family: 'Allura', cursive;
  color: #2c3333;
  font-size: 200%;
}*/

/*PORTFOLIO PAGE:*************************************************** */

.portfolio {
  position: relative;
  top: 400px;
}

.portfolio h3 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; ;
}

/*RESUME PAGE: ****************************************************** */

.resume-heading {
  position: relative;
  /*top: -400px;*/
  z-index: 10;
  opacity: 10;
}


/*ABOUT PAGE:*/

.about-heading {
  z-index: 10;
}

.about ul,li,h1,p {
  color: white;
}

.about p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: left;
}

.about ul li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}

/*CONTACT PAGE:*/

/*initial text:*/
.contact-heading {
  z-index: 10;
  /*position: relative;*/
  /*top: -100px;*/
}

.contact-content {
  position: relative;
  top: 250px;
}

.self-photo {
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

.contact p {
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.media {
  margin: 20px;
  /*text-align: left;*/
}

/*.dallas-image {
  z-index: -1;
}*/


