@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

.debug {
  border: 1px solid red;
}

body {
  /*padding-top: 60px;*/ /** NEED THIS?*/
  background-color: #2c3333;
  margin: 0 auto;
 /* width: 90%;*/
}

body.beach {
  background-image: url(beach.JPG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

body.dallas-image {
  background-image: url(dallas.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  /*background-position: center top;*/
  /*opacity: 0.5;*/
}

body.screen-image {
  background-image: url(screen.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  /*opacity: 0.5;*/
  /*background-color: rgba(0,0,0,0.5);*/
  /*background-position: center top;*/
}

body.projects-image {
  background-image: url(projects.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: -1;
}

/*#bootstrap-overrides {
  background-color: #2c3333;
}*/

/*.bg {
  background-color: white;
}*/

nav {
  /*vertical-align: top;*/
  display: inline-block;
  position: relative;
  width: 100%;
  top: 30px;
  z-index: 10;
  /*clear: left;*/
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

nav li {
  /*display: inline;*/
  float: right;
  z-index: 10;
}

nav ul li a {
    display: block;
    /*word-spacing: 200em;*/
    font-family: 'Quicksand', Arial, sans-serif;
    color: white !important;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
}

nav ul li a:visited {

}

nav a:hover, a:focus, a:active {
    font-weight: bold;
    text-shadow: 2px 2px 2px aqua;
    /*#54a6aa cadet blue- same as logo*/
    text-decoration: none;
    z-index: 10;
}
/*
#link {
  color: #FFFFF;
}*/

.logo {
  height: 150px;
  width: 150px;
  position: relative;
  top: 20px;
  left: 200px;
  z-index: 10;
}

/*HOME PAGE */
.home {
  position: relative;
  top: 100px;
  text-align: center;
  margin: 0 0 auto;
  /*font-family: 'Quicksand', Arial, sans-serif;
  color: #FFFFF;*/
}

/*.home-heading h1 {
  line-height: 0.2em;
}*/

/*.home h1 {
  font-family: 'Quicksand', Arial, sans-serif;
  color: #2c3333;
  font-size: 300%;
}*/

/*.home h3 {
  font-family: 'Allura', cursive;
  color: #2c3333;
  font-size: 200%;
}*/

/*MAIN YIELD CONTAINER:*/

.container {
  margin-top: 60px;
  text-align: center;
}

/*ALL OTHER PAGES:*/

h1 {
  color: white;
}

li {
  font-size: 18px;
  text-align: left;
}

.page-header h1 {
  color: white;
  font-size: 70px;
  font-family: 'Quicksand', Arial, sans-serif;
  line-height: 1em;
}

.page-header h1 small {
  color: white;
  font-size: 24px;
  font-family: "adobe-garamond-pro";
  /*line-height: 0.5em;*/
 /* font-family: 'Allura', cursive;*/
}


/*RESUME PAGE: */


/*.screen {*/

  /*position: relative;
  width: 75%;
  height: 75%;*/

  /*opacity: 0.5;
  z-index: -1;
  background-size: cover;
}*/

.resume-heading {
  position: relative;
  /*top: -400px;*/
  z-index: 10;
  opacity: 10;
}

/*ABOUT PAGE:*/

.about-heading {
  z-index: 10;
}

.about ul,li,h1,p {
  color: white;
}

.about p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: left;
}

.about ul li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}

/*CONTACT PAGE:*/

/*initial text:*/
.contact-heading {
  z-index: 10;
  /*position: relative;*/
  /*top: -100px;*/
}

.contact-content {
  position: relative;
  top: 100px;
}

.self-photo {
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

.contact p {
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.media {
  margin: 20px;
  /*text-align: left;*/
}

/*.dallas-image {
  z-index: -1;
}*/


